.parallax {
  position: relative;
  overflow: hidden;
  /* make full-bleed and centered regardless of parent container */
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
